header{
    text-align: center;
    background: yellow;
    font-family: Impact;
}
h2{
    font-family: Verdana;
}
article,aside {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 0 15px;
}
article {
    width: 65%;
    border-left: 3px solid green;
    margin: 1% 0}
footer{
    text-align: center;
}
#lastPost{
    border: 3px dotted green;
}
